USE [master]
GO
/****** Object:  Database [DA1DB]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE DATABASE [DA1DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DA1DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DA1DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DA1DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DA1DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DA1DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DA1DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Name] [nvarchar](128) NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[ClientScenePreferences_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientScenePreferences]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientScenePreferences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LookFromDefaultX] [decimal](18, 2) NOT NULL,
	[LookFromDefaultY] [decimal](18, 2) NOT NULL,
	[LookFromDefaultZ] [decimal](18, 2) NOT NULL,
	[LookAtDefaultX] [decimal](18, 2) NOT NULL,
	[LookAtDefaultY] [decimal](18, 2) NOT NULL,
	[LookAtDefaultZ] [decimal](18, 2) NOT NULL,
	[FoVDefault] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ClientScenePreferences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RenderingTimeInSeconds] [int] NOT NULL,
	[RenderDate] [datetime2](7) NOT NULL,
	[RenderWindow] [nvarchar](max) NULL,
	[SceneName] [nvarchar](max) NULL,
	[NumberOfModels] [int] NOT NULL,
	[Client_Name] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](max) NULL,
	[ColorX] [int] NOT NULL,
	[ColorY] [int] NOT NULL,
	[ColorZ] [int] NOT NULL,
	[Blur] [decimal](18, 2) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[Client_Name] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WantPreview] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModelName] [nvarchar](max) NULL,
	[Client_Name] [nvarchar](128) NULL,
	[Material_Id] [int] NULL,
	[Shape_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Models] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PositionedModels]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionedModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CoordinateX] [decimal](18, 2) NOT NULL,
	[CoordinateY] [decimal](18, 2) NOT NULL,
	[CoordinateZ] [decimal](18, 2) NOT NULL,
	[Model_Id] [int] NULL,
	[Scene_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PositionedModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scenes]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[LastModificationDate] [datetime2](7) NOT NULL,
	[LastRenderDate] [datetime2](7) NOT NULL,
	[SceneName] [nvarchar](max) NULL,
	[Client_Name] [nvarchar](128) NULL,
	[ClientScenePreferences_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Scenes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shapes]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shapes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShapeName] [nvarchar](max) NULL,
	[Client_Name] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Shapes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spheres]    Script Date: 6/14/2023 7:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spheres](
	[Id] [int] NOT NULL,
	[Radius] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Spheres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clients] ([Name], [RegistrationDate], [Password], [ClientScenePreferences_Id]) VALUES (N'Juandi', CAST(N'2023-06-14T13:31:33.4418425' AS DateTime2), N'Juandi1', 74)
INSERT [dbo].[Clients] ([Name], [RegistrationDate], [Password], [ClientScenePreferences_Id]) VALUES (N'Mateo', CAST(N'2023-06-14T16:57:09.8490765' AS DateTime2), N'Mateo1', 176)
INSERT [dbo].[Clients] ([Name], [RegistrationDate], [Password], [ClientScenePreferences_Id]) VALUES (N'Ticu', CAST(N'2023-06-14T15:21:44.6230994' AS DateTime2), N'Ticu1', 132)
GO
SET IDENTITY_INSERT [dbo].[ClientScenePreferences] ON 

INSERT [dbo].[ClientScenePreferences] ([Id], [LookFromDefaultX], [LookFromDefaultY], [LookFromDefaultZ], [LookAtDefaultX], [LookAtDefaultY], [LookAtDefaultZ], [FoVDefault]) VALUES (1, CAST(0.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), 30)
INSERT [dbo].[ClientScenePreferences] ([Id], [LookFromDefaultX], [LookFromDefaultY], [LookFromDefaultZ], [LookAtDefaultX], [LookAtDefaultY], [LookAtDefaultZ], [FoVDefault]) VALUES (2, CAST(0.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), 30)
INSERT [dbo].[ClientScenePreferences] ([Id], [LookFromDefaultX], [LookFromDefaultY], [LookFromDefaultZ], [LookAtDefaultX], [LookAtDefaultY], [LookAtDefaultZ], [FoVDefault]) VALUES (3, CAST(0.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), 30)
GO
SET IDENTITY_INSERT [dbo].[ClientScenePreferences] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [RenderingTimeInSeconds], [RenderDate], [RenderWindow], [SceneName], [NumberOfModels], [Client_Name]) VALUES (1, 0, CAST(N'2023-06-14T14:00:06.6587984' AS DateTime2), N'0 seconds', N'Preview - Raspberry Pi', 1, N'Juandi')
INSERT [dbo].[Logs] ([Id], [RenderingTimeInSeconds], [RenderDate], [RenderWindow], [SceneName], [NumberOfModels], [Client_Name]) VALUES (2, 0, CAST(N'2023-06-14T14:00:21.8942343' AS DateTime2), N'0 seconds', N'Preview - Black Hole', 1, N'Juandi')
INSERT [dbo].[Logs] ([Id], [RenderingTimeInSeconds], [RenderDate], [RenderWindow], [SceneName], [NumberOfModels], [Client_Name]) VALUES (3, 0, CAST(N'2023-06-14T14:00:39.5615801' AS DateTime2), N'0 seconds', N'Preview - Giant Fireball', 1, N'Juandi')
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([Id], [MaterialName], [ColorX], [ColorY], [ColorZ], [Blur], [Discriminator], [Client_Name]) VALUES (1, N'VantaBlack', 0, 0, 0, NULL, N'Material', N'Juandi')
INSERT [dbo].[Materials] ([Id], [MaterialName], [ColorX], [ColorY], [ColorZ], [Blur], [Discriminator], [Client_Name]) VALUES (2, N'Fire', 230, 12, 12, NULL, N'Material', N'Juandi')
INSERT [dbo].[Materials] ([Id], [MaterialName], [ColorX], [ColorY], [ColorZ], [Blur], [Discriminator], [Client_Name]) VALUES (3, N'Crystal', 150, 30, 180, CAST(0.20 AS Decimal(18, 2)), N'MetallicMaterial', N'Juandi')
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([Id], [WantPreview], [CreatedAt], [ModelName], [Client_Name], [Material_Id], [Shape_Id]) VALUES (1, 1, CAST(N'2023-06-14T13:59:37.5429999' AS DateTime2), N'Raspberry Pi', N'Juandi', 3, 3)
INSERT [dbo].[Models] ([Id], [WantPreview], [CreatedAt], [ModelName], [Client_Name], [Material_Id], [Shape_Id]) VALUES (2, 1, CAST(N'2023-06-14T14:00:11.3418470' AS DateTime2), N'Black Hole', N'Juandi', 1, 2)
INSERT [dbo].[Models] ([Id], [WantPreview], [CreatedAt], [ModelName], [Client_Name], [Material_Id], [Shape_Id]) VALUES (3, 1, CAST(N'2023-06-14T14:00:25.2707957' AS DateTime2), N'Giant Fireball', N'Juandi', 2, 5)
SET IDENTITY_INSERT [dbo].[Models] OFF
GO
SET IDENTITY_INSERT [dbo].[PositionedModels] ON 

INSERT [dbo].[PositionedModels] ([Id], [CoordinateX], [CoordinateY], [CoordinateZ], [Model_Id], [Scene_Id]) VALUES (8, CAST(0.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(70.00 AS Decimal(18, 2)), 2, 7)
INSERT [dbo].[PositionedModels] ([Id], [CoordinateX], [CoordinateY], [CoordinateZ], [Model_Id], [Scene_Id]) VALUES (9, CAST(0.00 AS Decimal(18, 2)), CAST(2.50 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 5, 7)
INSERT [dbo].[PositionedModels] ([Id], [CoordinateX], [CoordinateY], [CoordinateZ], [Model_Id], [Scene_Id]) VALUES (10, CAST(0.50 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 5, 7)
SET IDENTITY_INSERT [dbo].[PositionedModels] OFF
GO
SET IDENTITY_INSERT [dbo].[Scenes] ON 

INSERT [dbo].[Scenes] ([Id], [RegistrationDate], [LastModificationDate], [LastRenderDate], [SceneName], [Client_Name], [ClientScenePreferences_Id]) VALUES (7, CAST(N'2023-06-14T14:16:28.4519672' AS DateTime2), CAST(N'2023-06-14T14:20:58.8634062' AS DateTime2), CAST(N'2023-06-14T14:25:22.7669433' AS DateTime2), N'Blue Triangle', N'Juandi', 52)
INSERT [dbo].[Scenes] ([Id], [RegistrationDate], [LastModificationDate], [LastRenderDate], [SceneName], [Client_Name], [ClientScenePreferences_Id]) VALUES (8, CAST(N'2023-06-14T14:27:12.2982650' AS DateTime2), CAST(N'2023-06-14T14:30:46.3086261' AS DateTime2), CAST(N'2023-06-14T14:32:43.9376582' AS DateTime2), N'Floor is lava', N'Juandi', 57)
INSERT [dbo].[Scenes] ([Id], [RegistrationDate], [LastModificationDate], [LastRenderDate], [SceneName], [Client_Name], [ClientScenePreferences_Id]) VALUES (10, CAST(N'2023-06-14T15:03:55.3720004' AS DateTime2), CAST(N'2023-06-14T15:09:42.7782914' AS DateTime2), CAST(N'2023-06-14T15:10:48.7054569' AS DateTime2), N'Speechless', N'Juandi', 70)
SET IDENTITY_INSERT [dbo].[Scenes] OFF
GO
SET IDENTITY_INSERT [dbo].[Shapes] ON 

INSERT [dbo].[Shapes] ([Id], [ShapeName], [Client_Name]) VALUES (1, N'Pearl', N'Juandi')
INSERT [dbo].[Shapes] ([Id], [ShapeName], [Client_Name]) VALUES (2, N'Abyss', N'Juandi')
INSERT [dbo].[Shapes] ([Id], [ShapeName], [Client_Name]) VALUES (3, N'Pi', N'Juandi')
SET IDENTITY_INSERT [dbo].[Shapes] OFF
GO
INSERT [dbo].[Spheres] ([Id], [Radius]) VALUES (1, 0.5)
INSERT [dbo].[Spheres] ([Id], [Radius]) VALUES (2, 50)
INSERT [dbo].[Spheres] ([Id], [Radius]) VALUES (3, 3.14)
GO
/****** Object:  Index [IX_ClientScenePreferences_Id]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClientScenePreferences_Id] ON [dbo].[Clients]
(
	[ClientScenePreferences_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Logs]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Materials]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Models]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Material_Id]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Material_Id] ON [dbo].[Models]
(
	[Material_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shape_Id]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Shape_Id] ON [dbo].[Models]
(
	[Shape_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Model_Id]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Model_Id] ON [dbo].[PositionedModels]
(
	[Model_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Scene_Id]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Scene_Id] ON [dbo].[PositionedModels]
(
	[Scene_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Scenes]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientScenePreferences_Id]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClientScenePreferences_Id] ON [dbo].[Scenes]
(
	[ClientScenePreferences_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Shapes]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 6/14/2023 7:07:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Spheres]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clients_dbo.ClientScenePreferences_ClientScenePreferences_Id] FOREIGN KEY([ClientScenePreferences_Id])
REFERENCES [dbo].[ClientScenePreferences] ([Id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_dbo.Clients_dbo.ClientScenePreferences_ClientScenePreferences_Id]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Logs_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_dbo.Logs_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Materials_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_dbo.Materials_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Models_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_dbo.Models_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Models_dbo.Materials_Material_Id] FOREIGN KEY([Material_Id])
REFERENCES [dbo].[Materials] ([Id])
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_dbo.Models_dbo.Materials_Material_Id]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Models_dbo.Shapes_Shape_Id] FOREIGN KEY([Shape_Id])
REFERENCES [dbo].[Shapes] ([Id])
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_dbo.Models_dbo.Shapes_Shape_Id]
GO
ALTER TABLE [dbo].[PositionedModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PositionedModels_dbo.Models_Model_Id] FOREIGN KEY([Model_Id])
REFERENCES [dbo].[Models] ([Id])
GO
ALTER TABLE [dbo].[PositionedModels] CHECK CONSTRAINT [FK_dbo.PositionedModels_dbo.Models_Model_Id]
GO
ALTER TABLE [dbo].[PositionedModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PositionedModels_dbo.Scenes_Scene_Id] FOREIGN KEY([Scene_Id])
REFERENCES [dbo].[Scenes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PositionedModels] CHECK CONSTRAINT [FK_dbo.PositionedModels_dbo.Scenes_Scene_Id]
GO
ALTER TABLE [dbo].[Scenes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Scenes_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Scenes] CHECK CONSTRAINT [FK_dbo.Scenes_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Scenes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Scenes_dbo.ClientScenePreferences_ClientScenePreferences_Id] FOREIGN KEY([ClientScenePreferences_Id])
REFERENCES [dbo].[ClientScenePreferences] ([Id])
GO
ALTER TABLE [dbo].[Scenes] CHECK CONSTRAINT [FK_dbo.Scenes_dbo.ClientScenePreferences_ClientScenePreferences_Id]
GO
ALTER TABLE [dbo].[Shapes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shapes_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Shapes] CHECK CONSTRAINT [FK_dbo.Shapes_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Spheres]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Spheres_dbo.Shapes_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Shapes] ([Id])
GO
ALTER TABLE [dbo].[Spheres] CHECK CONSTRAINT [FK_dbo.Spheres_dbo.Shapes_Id]
GO
USE [master]
GO
