USE [master]
GO
/****** Object:  Database [DA1DB]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE DATABASE [DA1DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DA1DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DA1DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DA1DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DA1DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DA1DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DA1DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Name] [nvarchar](128) NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[ClientScenePreferences_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientScenePreferences]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientScenePreferences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LookFromDefaultX] [decimal](18, 2) NOT NULL,
	[LookFromDefaultY] [decimal](18, 2) NOT NULL,
	[LookFromDefaultZ] [decimal](18, 2) NOT NULL,
	[LookAtDefaultX] [decimal](18, 2) NOT NULL,
	[LookAtDefaultY] [decimal](18, 2) NOT NULL,
	[LookAtDefaultZ] [decimal](18, 2) NOT NULL,
	[FoVDefault] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ClientScenePreferences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RenderingTimeInSeconds] [int] NOT NULL,
	[RenderDate] [datetime2](7) NOT NULL,
	[RenderWindow] [nvarchar](max) NULL,
	[SceneName] [nvarchar](max) NULL,
	[NumberOfModels] [int] NOT NULL,
	[Client_Name] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](max) NULL,
	[ColorX] [int] NOT NULL,
	[ColorY] [int] NOT NULL,
	[ColorZ] [int] NOT NULL,
	[Blur] [decimal](18, 2) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[Client_Name] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WantPreview] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModelName] [nvarchar](max) NULL,
	[Client_Name] [nvarchar](128) NULL,
	[Material_Id] [int] NULL,
	[Shape_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Models] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PositionedModels]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionedModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CoordinateX] [decimal](18, 2) NOT NULL,
	[CoordinateY] [decimal](18, 2) NOT NULL,
	[CoordinateZ] [decimal](18, 2) NOT NULL,
	[Model_Id] [int] NULL,
	[Scene_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PositionedModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scenes]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[LastModificationDate] [datetime2](7) NOT NULL,
	[LastRenderDate] [datetime2](7) NOT NULL,
	[SceneName] [nvarchar](max) NULL,
	[Client_Name] [nvarchar](128) NULL,
	[ClientScenePreferences_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Scenes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shapes]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shapes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShapeName] [nvarchar](max) NULL,
	[Client_Name] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Shapes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spheres]    Script Date: 6/14/2023 8:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spheres](
	[Id] [int] NOT NULL,
	[Radius] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Spheres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientScenePreferences_Id]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClientScenePreferences_Id] ON [dbo].[Clients]
(
	[ClientScenePreferences_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Logs]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Materials]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Models]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Material_Id]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Material_Id] ON [dbo].[Models]
(
	[Material_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shape_Id]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Shape_Id] ON [dbo].[Models]
(
	[Shape_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Model_Id]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Model_Id] ON [dbo].[PositionedModels]
(
	[Model_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Scene_Id]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Scene_Id] ON [dbo].[PositionedModels]
(
	[Scene_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Scenes]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientScenePreferences_Id]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClientScenePreferences_Id] ON [dbo].[Scenes]
(
	[ClientScenePreferences_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Name]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Client_Name] ON [dbo].[Shapes]
(
	[Client_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 6/14/2023 8:25:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Spheres]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clients_dbo.ClientScenePreferences_ClientScenePreferences_Id] FOREIGN KEY([ClientScenePreferences_Id])
REFERENCES [dbo].[ClientScenePreferences] ([Id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_dbo.Clients_dbo.ClientScenePreferences_ClientScenePreferences_Id]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Logs_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_dbo.Logs_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Materials_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_dbo.Materials_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Models_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_dbo.Models_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Models_dbo.Materials_Material_Id] FOREIGN KEY([Material_Id])
REFERENCES [dbo].[Materials] ([Id])
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_dbo.Models_dbo.Materials_Material_Id]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Models_dbo.Shapes_Shape_Id] FOREIGN KEY([Shape_Id])
REFERENCES [dbo].[Shapes] ([Id])
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_dbo.Models_dbo.Shapes_Shape_Id]
GO
ALTER TABLE [dbo].[PositionedModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PositionedModels_dbo.Models_Model_Id] FOREIGN KEY([Model_Id])
REFERENCES [dbo].[Models] ([Id])
GO
ALTER TABLE [dbo].[PositionedModels] CHECK CONSTRAINT [FK_dbo.PositionedModels_dbo.Models_Model_Id]
GO
ALTER TABLE [dbo].[PositionedModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PositionedModels_dbo.Scenes_Scene_Id] FOREIGN KEY([Scene_Id])
REFERENCES [dbo].[Scenes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PositionedModels] CHECK CONSTRAINT [FK_dbo.PositionedModels_dbo.Scenes_Scene_Id]
GO
ALTER TABLE [dbo].[Scenes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Scenes_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Scenes] CHECK CONSTRAINT [FK_dbo.Scenes_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Scenes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Scenes_dbo.ClientScenePreferences_ClientScenePreferences_Id] FOREIGN KEY([ClientScenePreferences_Id])
REFERENCES [dbo].[ClientScenePreferences] ([Id])
GO
ALTER TABLE [dbo].[Scenes] CHECK CONSTRAINT [FK_dbo.Scenes_dbo.ClientScenePreferences_ClientScenePreferences_Id]
GO
ALTER TABLE [dbo].[Shapes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shapes_dbo.Clients_Client_Name] FOREIGN KEY([Client_Name])
REFERENCES [dbo].[Clients] ([Name])
GO
ALTER TABLE [dbo].[Shapes] CHECK CONSTRAINT [FK_dbo.Shapes_dbo.Clients_Client_Name]
GO
ALTER TABLE [dbo].[Spheres]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Spheres_dbo.Shapes_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Shapes] ([Id])
GO
ALTER TABLE [dbo].[Spheres] CHECK CONSTRAINT [FK_dbo.Spheres_dbo.Shapes_Id]
GO
USE [master]
GO
