<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
		         type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		         requirePermission="false" />
	</configSections>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
			          type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="DA1DB" connectionString="Server=.\SQLEXPRESS;Database=DA1DB;Trusted_Connection=True;"
		     providerName="System.Data.SqlClient" />
		<!--<add name="DA1DB" connectionString="Server=192.168.68.108;Database=DA1DB;User Id=sa;Password=#Ticu2568;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
</configuration>